<div class="container">
  <div class="row row_select_file" ng-show="showSelectFile">
    <div class="col-md-12">
      <button class="btn btn_select_file" ngf-select ng-model="file" ngf-multiple="false" 
      ngf-pattern="'text/*'" ngf-accept="'text/*'" ngf-max-size="20MB">
        Select File
      </button>
    </div>
  </div>
  <section class="file_details" uib-collapse="fileIsNotUploaded">
    <div class="table-responsive">
      <table class="table table_result">
        <tr>
          <td class="result_title">File Name : </td>
          <td class="result_value">{{file.name}}</td>
        </tr>
        <tr>
          <td class="result_title">File Size :</td>
          <td class="result_value"> {{ file.size?((file.size)/1024).toFixed(2)+'KB':''}}</td>
        </tr> 
        <tr>
          <td class="result_title">File Type :</td>
          <td class="result_value">{{file.type}}</td>
        </tr>                                         
      </table>
    </div>
    <div class="row row_btn_upload">
      <div class="col-md-12">
        <button class="btn btn-success btn_upload" ng-click="uploadFile(file)">Read File</button>
      </div>
    </div>  
  </section>
  <div class="loader" ng-show="cssLoader">Loading...</div>
</div>
  